body {
    margin: 0px;
    padding: 0px;
    background-color: #d53333;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 1200px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #de7575;
    margin-top: 10px;
    border: 2px solid #000;
    text-shadow: 1px 1px 3px #010000;
}

.title h2, h1 {
    margin: 5px;
}

#imagen img{
    border-radius: 100px;
    border: 2px solid #000;
    width: 550px;
    height: 550px;
}

#imagen figcaption {
    text-align: center;
    font-size: 17px;
}

#imagen {
    margin-top: 10px;
    height: 550px;
    padding: 0px;
    flex: 2;
}

.img_pers {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 10px;
}

.img_pers img{
    width: 200px;
}

.widget{
    display: flex;
    flex: 1;
}

.obras{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

section{
    display: flex;
    margin-top: 50px;
    background-color: #000;
}

article {
    margin: 10px;
}

article img{
    max-width: 180px;
    min-width: 180px;
}

.img_obra figure {
    margin: 0px;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px;
    background-color: #d53333;
}

.title_obra {
    text-align: center;
    color: #fff;
}

.img_obra {
    justify-content: center;
    display: flex;
}

.obras_img {
    display: flex;
    flex-direction: column;
}

.logo_obras img{
    width: 800px;
}
.logo_obras{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.historia_de_vida {
    background-color: #d53333;
    padding: 15px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 42px;
    text-align: center;
    font-family: sans-serif;
}
.historia_de_vida h1{
    font-size: 30px;
}
.historia_de_vida p {
    text-align: justify;
    font-size: 20px;
}

footer {
    height: 100px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape_minhas_redes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px dotted #5c5c5c;
}
.rodape_fontes {
    margin-left: 10px;
    margin-top: -25px;
}
.rodape_fontes a {
    text-decoration: none;
    color: #5c5c5c;
}
#wiki {
    margin-left: 50px;
}

.footer_copy {
    margin-top: 10px;
    margin-left: 30px;
    color: #5c5c5c;
    border-bottom: 2px dotted #2c2c2c;
}

.footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#insta {
    width: 30px;
    padding-right: 8px;
}
#linke {
    width: 36px;
}
#git {
    width: 48px;
}


/*----------------------------------------VARIAÇÃO--------------------------------------*/
.variacao1_banner {
    display: none;
}

.historia_de_vida_variacao {
    background-color: #de7575;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    border: 2px solid #000;
}
.historia_de_vida_variacao h1{
    font-size: 20px;
}
.historia_de_vida_variacao p {
    text-align: justify;
    font-size: 15px; 
}
#nome_eiichiro {
    width: 520px;
}
#img_nome_eiichiro {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


/*---------------------------------------------------------------------------------------*/

@media (max-width: 1315px) {
    .logo_obras img{
        width: 600px;
    }
}

@media (max-width: 1215px)  {
    .container {
        width: 1000px;
    }
    .variacao1_banner {
        display: flex;
    }
    .banner {
        display: none;
    }
    .historia_de_vida {
        display: none;
    }
    section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .widget {
        justify-content: center;
        width: 800px;
        background-color: #d53333;
        border: 2px solid #fff;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .obras figure {
        background-color: #000;
    }
    
}

@media (max-width: 1005px) {
    .container {
        width: 600px;
    }
    .variacao1_banner {
        display: block;
    }
    #img_nome_eiichiro {
        display: none;
    }
    .historia_de_vida_variacao {
        margin-top: 10px;
    }
    .historia_de_vida_variacao h1{
        font-size: 25px;
    }
    .historia_de_vida_variacao p {
        font-size: 20px;
    }
    #imagen img {
        width: 400px;
        height: 400px;
        margin-bottom: 10px;
    }
    #imagen {
        margin-top: 0px;
    }
    .imagen_de_oda {
        display: flex;
        justify-content: center;
    }
    .imagen_de_oda figure {
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 815px) {
    .widget {
        width: 500px;
    }
    .logo_obras img{
        width: 300px;
    }
    article img{
        max-width: 140px;
        min-width: 140px;
    }
}